html{
    background-color: hsla(346, 100%, 50%, 0.175);
}
h1{ 
  text-align: center;
    align-items: center;
        font-size: 4rem;
        font-family: "Bangers";
        font-weight: 400;
        font-style: normal;
        letter-spacing: 1px;

}
#logo{

    border-radius: 10px;
    filter: drop-shadow( 5px 15px 10px rgb(108, 107, 107));
    height: 100% ;
    width: 100%;
    align-items: center;
}

.spidy__sleeping{
    box-sizing: border-box;
    width: 100%;
    object-fit: cover;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
   

}
.contAiner{
   padding: 20px;
   margin-top: 20PX;    
}
#peter{
    display: inline;
    float: left;
    height: 400PX;
    /* filter: drop-shadow(1px 15px 10px grey); */

}
.my_button{
    display: inline;
    font-size: 2rem;
    font-family:"Bangers" ;
    color: white;
    background-color: red;
    
}
#content{
    font-family:"Bangers"
}
.main{
    display: flex;
    justify-content: flex-end;
    line-height: 20px;
    background-color: whitesmoke;
    scroll-behavior: auto;
}
#main{
 margin-bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#button2
{
justify-content: center;
}